<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
<!--    Action-->
    <record id="action_fee_basic" model="ir.actions.act_window">
        <field name="name">Fee</field>
        <field name="res_model">student.fee</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="student_fee_tree"/>
    </record>
     <record id="action_fee_detail" model="ir.actions.act_window">
        <field name="name">Fee detail</field>
        <field name="res_model">fee.detail</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="fee_detail_tree"/>
    </record>

<!--    Menu-->
       <menuitem
            id="menu_fee_view_base"
            name="Fee"
            sequence="2"
            groups="base.group_user"
            web_icon="fee,static/description/fee.png"
       />

        <menuitem
            id="menu_fee_view"
            name="Fee"
            sequence="1"
            action="action_fee_basic"
            parent="menu_fee_view_base"
            groups="base.group_user"
            web_icon="Caculate_score,static/description/icon.png"
        />
        <menuitem
            id="menu_fee_detail_view"
            name="Fee Detail"
            sequence="2"
            action="action_fee_detail"
            parent="menu_fee_view_base"
            groups="base.group_user"
        />
</odoo>
