<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <!--    Action-->
    <record id="action_nutrition" model="ir.actions.act_window">
        <field name="name">Nutrition</field>
        <field name="res_model">nutrition</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="nutrition_tree"/>
    </record>
    <record id="action_packaging" model="ir.actions.act_window">
        <field name="name">Packaging</field>
        <field name="res_model">packaging</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="packaging_tree"/>
    </record>
    <record id="action_res_partner_nutrition" model="ir.actions.act_window">
        <field name="name">Nhà cung cấp</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="base.view_partner_form"/>
    </record>
    <record id="action_type_food" model="ir.actions.act_window">
        <field name="name">Loại thực phẩm</field>
        <field name="res_model">type.food</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="type_food_tree"/>
    </record>
    <!--    Định mức dinh dưỡng-->
    <record id="action_standard_material" model="ir.actions.act_window">
        <field name="name">Định mức dinh dưỡng</field>
        <field name="res_model">standard.material</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="standard_material_tree"/>
    </record>

    <record id="action_menu_food" model="ir.actions.act_window">
        <field name="name">Thực đơn</field>
        <field name="res_model">menu.food</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="menu_food_tree"/>
    </record>
    <record id="action_part_standard" model="ir.actions.act_window">
        <field name="name">Số phần định mức</field>
        <field name="res_model">part.standard</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="part_standard_tree"/>
    </record>
     <record id="action_modify_menu_food" model="ir.actions.act_window">
        <field name="name">Điều chỉnh thực đơn</field>
        <field name="res_model">modify.menu.food</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="modify_menu_food_tree"/>
    </record>
    <!--    Menu -->
    <menuitem
            id="menu_nutrition_base"
            name="Dinh dưỡng"
            sequence="2"
            groups="base.group_user"
            web_icon="nutrition,static/description/nutrition.png"
    />
    <menuitem
            id="menu_nutrition"
            name="Dinh dưỡng"
            sequence="1"
            action="action_nutrition"
            parent="menu_nutrition_base"
            groups="base.group_user"
    />
    <menuitem
            id="menu_food_base"
            name="Thực đơn"
            sequence="2"
            parent="menu_nutrition_base"
            groups="base.group_user"
    />
    <menuitem
            id="menu_modify_food_base"
            name="Điều chỉnh thực đơn"
            sequence="3"
            parent="menu_nutrition_base"
            groups="base.group_user"
    />
    <menuitem
            id="menu_configuration"
            name="Tổng hợp"
            sequence="15"
            parent="menu_nutrition_base"
    />

    <!--    Menu chi tiết-->
    <!--    Thực đơn-->
    <menuitem
            id="menu_menu_food"
            name="Thực đơn"
            sequence="1"
            action="action_menu_food"
            parent="menu_food_base"
    />
    <!--    Điều chỉnh thực đơn -->

    <menuitem
            id="menu_modify_menu_food"
            name="Điều chỉnh thực đơn"
            sequence="1"
            action="action_modify_menu_food"
            parent="menu_modify_food_base"
    />
    <!--    Configuration-->
    <menuitem
            id="menu_packaging"
            name="Bao bì"
            sequence="1"
            action="action_packaging"
            parent="menu_configuration"
    />
    <menuitem
            id="menu_type_food"
            name="Loại thực phẩm"
            sequence="2"
            action="action_type_food"
            parent="menu_configuration"
    />
    <menuitem
            id="menu_res_partner_nutrition"
            name="Nhà cung cấp"
            sequence="3"
            action="action_res_partner_nutrition"
            parent="menu_configuration"
    />
    <menuitem
            id="menu_standard_material"
            name="Định mức dinh dưỡng"
            sequence="4"
            action="action_standard_material"
            parent="menu_configuration"
    />
    <menuitem
            id="menu_part_standard"
            name="Số phần định mức dinh dưỡng"
            sequence="5"
            action="action_part_standard"
            parent="menu_configuration"
    />
</odoo>
